/**
 * Toyota M24Travel Styles
 *
 * @package 	toyota-child
 */

// ---------- Mixins ----------


@mixin box-shadow($args) {
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
	-o-box-shadow: $args;
	box-shadow: $args;
}

@mixin text-shadow($args) {
	-webkit-text-shadow: $args;
	-moz-text-shadow: $args;
	-o-text-shadow: $args;
	text-shadow: $args;
}

@mixin border-radius($args) {
	-webkit-border-radius: $args;
	-moz-border-radius: $args;
	-o-border-radius: $args;
	border-radius: $args;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}


// ---------- Placeholders: Global ----------


%clear-div {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: "";
		clear: both;
		height: 0;
	}
}


// ---------- Styles ----------

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

html, body p {
	font-family: 'Oswald', sans-serif;
}

/*** Variables ***/
@font-face {
	font-family: 'Oswald', sans-serif;
	src: url('/assets/fonts/Oswald-Regualr.ttf') format('truetype'),
	url('/assets/fonts/Oswald-Bold.ttf') format('truetype')
}

@font-face {
	font-family: 'Ubuntu', sans-serif;
	src: url('/assets/fonts/Ubuntu-Regular.ttf') format('truetype'),
	url('/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}

$oswald: 'Oswald', sans-serif;
$ubuntu: 'Ubuntu', sans-serif; 
$white: #ffffff;
$light-gray: #f6f6f6;
$dark-gray: #434343;
$normal-gray: #4a4a4a;
$black: #000000;
$blue: #418ad0;
$dark-blue: #374750;
$orange: #f7941d;
$dark-orange: #eda700;
$accent-red: #d84e2e;
$font-color: #333333;
$yellow-fb: #fbd44a;
$yellow-icons: #ffdf00;
$yellow-border: #edab21;

/*** FONTS ***/

h1, .content-area h1, .content-area #main h1 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	color: $font-color;
	font-family: $oswald;
}

h2, .content-area h2, .content-area #main h2 {
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: $font-color;
	font-family: $oswald;
	@media (max-width: 767px) {
		font-size: 26px !important;
	}

}

h3, .content-area h3, .content-area #main h3 {
	font-size: 22px;
	text-transform: uppercase;
	color: $font-color;
	font-family: $oswald;
}

h4, .content-area h3, .content-area #main h3 {
	font-size: 20px;
	text-transform: uppercase;
	color: $font-color;
	font-family: $oswald;
}

h5, .content-area h5, .content-area #main h5 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: $font-color;
	font-family: $oswald;
}

p {
	font-size: 16px;
	font-weight: normal;
	color: $font-color;
	font-family: $ubuntu;
	line-height: 26px;
}

ul {
	li {
		font-size: 16px;
		line-height: 36px;
		font-family: $ubuntu;
	}
}

/*** HEADER STYLES***/

#masthead {
	.primary-navbar {
		#menu-primary-menu {
			@media (min-width: 1200px) {
				display: flex;
				justify-content: flex-end;
			}
			.menu-item {
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
				font-family: $ubuntu;
			}
		}
	}
}
.lsx-cta-title {
	@media (max-width: 767px) {
		font-size: 26px !important;
	}
}
/*** BODY STYLES ***/

.archive-header-wrapper.col-sm-12 {
	display: none;
} 

.wp-block-lsx-blocks-lsx-banner-box.lsx-block-banner {
	.lsx-banner-content-wrap {
		.header-headings {
			padding-bottom: 45px;
			.page-header h2.lsx-banner-name {
				line-height: 50px;
    			margin-bottom: 20px;
			}
		}
	}
}

/*** ENTRIES ***/

.blog, .search {
	.container {
		.content {
			max-width: 900px;
			margin: 0 auto;
		}
	}
	#primary {
		margin-bottom: 8.5rem;
		margin-top: 5rem;
		.entrants-title {
			margin-bottom: 32px;
		}
		#searchform {
			margin-bottom: 4.25rem;
			.input-group {
				@media (max-width: 767px) {
					display: flex;
					flex-direction: column;
					.input-group-btn {
						width: 100%;
						.btn {
							width: 100%;
							margin-left: 0;
						}
					}
				}
			}
			.search-field {
				height: 50px;
				min-width: 280px;
			}
			.search-submit {
				height: 48px;
				margin-left: 10px;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
				.fa-search:before {
					content: "SEARCHS";
					font-size: 16px;
					font-weight: bold;
					font-family: $ubuntu;
				}
			}
		}
		.post-wrapper {
			margin-top: 0px;
			article {
				margin-top: 2.4rem;
				.entry-image {
					img {
						width: 100%;
    					height: 370px;
   						 object-fit: cover;
					}
				}
				&:hover h2 {
					border-bottom: 2px solid $yellow-border;
				}
			}
		}
	}
}

.gform_wrapper {
	button {
		background-color: $orange;
		box-shadow: 2px 2px 0 0 $dark-orange;
	}
}

.blog, .post-template-default {
	.entrant {
		.video, .motivation, .photos {
			margin-bottom: 4.25rem;
			h2 {
				text-transform: initial;
				line-height: 25px;
				color: $normal-gray !important;
			}
		}
		.video {
			margin: 0 auto;
			iframe {
				width: 100%;
				@media (max-width: 767px) {
					height: 100%;
				}
			}
		}
		.motivation {
			h4 {
				padding: 0;
			}
			.city {
				font-weight: bold;
				margin-bottom: 5px;
			}
		}
	}
}
.post-template-default.single .entries-cta.lsx-full-width-alt h3 {
	text-align: left;
}
.content-area  .lsx-full-width-alt, .content-area .lsx-full-width {
	//margin: 0 -9999rem;
	//padding: 0 9999rem;
	margin: 0 -12rem;
    padding: 8.5rem 12rem;
}

.content-area h1 {
	margin-bottom: 0.8rem;
}

.lsx-sharing-button {
	.fa {
		color: #fff;
	}
}
.home, .blog, .search {
	.entrants-title {
		margin-bottom: 4.25rem;
		h1 {
			text-align: center !important;
		}
	}
	.entry-image  {
		h2, p {
			display:none;
		}
		&:hover {
			img.wp-post-image {
				opacity: 0.3;
			}
			h2, p {
				position: absolute;
				display: block;
				margin: 0 20px 0 10px;
			}
			h2 {
				/*border-bottom: 2px solid $dark-green;*/
				color: $dark-gray !important;
				top: 50%;
				width: 93%;
			}
			p {
				top: 60%;
				.moretag {
					display: none;
				}
			}
		}
	}
}
.home {
	.lsx-block-post-grid .is-grid article {
		background-color: #000;
	}
	.lsx-block-post-grid {
		.lsx-post-grid-items {
			article {
				.lsx-block-post-grid-image {
					a {
						img {
							max-width: 100%;
							height: 370px;
							object-fit: cover;
						}
					}
				}
				.lsx-block-post-grid-text {
					display: none;
				}
				&:hover {
					.lsx-block-post-grid-image {
						a {
							img {
								opacity: 0.3;
							}
						}
					}
					.lsx-block-post-grid-text {
						display: initial;
						position: absolute;
						bottom: 40%;
						.lsx-block-post-grid-title {
							margin: 0 1em 0em 1em;
							border-bottom: 2px solid $yellow-border;
						}
						.lsx-block-post-grid-title, .lsx-block-post-grid-excerpt {
							text-align: left;
							a {
								color: #fff;
								font-weight: normal;
							}
						}
					}
					
				}
				@media (max-width:600px) {
					.lsx-block-post-grid-text {
						display: initial;
						position: relative;
						bottom: 230px;
						.lsx-block-post-grid-title {
							margin: 0 1em 0em 1em;
							border-bottom: 2px solid $yellow-border;
						}
						.lsx-block-post-grid-title, .lsx-block-post-grid-excerpt {
							text-align: left;
							a {
								color: $white;
								font-weight: normal;
							}
						}
					}
				}
			}
		}
	}
	.lsx-block-card {
		.lsx-card-image-wrap {
			img {
				min-height: 400px;
				object-fit: contain;
				background: white;
			}
		}
	}
}

.blog, .search {
	.entry-image  {
		&:hover {
			h2, p {
				position: relative;
				bottom: 250px;
			}
		}
		@media (max-width:600px) {
			h2, p {
				display: flex;
				position: relative;
				bottom: 250px;
				color: white !important;
			}
			h2 {
				margin: 0 1em 0em 1em;
				border-bottom: 2px solid $yellow-border;
			}
			p {
				margin: 0 1.6em 0em 1.6em;
			}
		}
	}
}

.search {
	h1.entry-title {
		display: none;
	}
 }

/*** SINGLE POSTS ***/

.single.single-post {
	.page-banner-wrap {
		.page-banner {
			background-image: url(/wp-content/uploads/2020/07/Toyota_Challenge_1920x660.jpg);
   			background-size: cover;
			background-position: bottom !important;
			min-height:654px;
			@media (max-width:600px) {
				min-height: 500px;
			}
			@media (max-width:600px) {
				background-image: url(../images/Toyota_Challenge_Mobile.jpg) !important;
				min-height: 450px;
			}
			>.page-banner-image {
				background-image: url(../images/desktop_banner.jpg) !important;
				&:after {
					background-color: transparent !important;
				}
				@media (max-width:600px) {
					background-image: url(../images/Toyota_Challenge_Mobile.jpg) !important;
					min-height: 450px;
				}
			}
		}
	}
}
.blog {
	.page-banner-wrap {
		.page-banner {
			@media (min-width:1200px) {
				min-height: 495px !important;
			}
			@media (max-width:600px) {
				min-height: 500px !important;
			}
			>.page-banner-image {
				@media (min-width:1200px) {
					background-size: 100vw;
				}
				bottom: 0;
				background-position: top !important;
				min-height:654px;
				@media (max-width:600px) {
					background-image: url(../images/Toyota_Challenge_Mobile.jpg) !important;
					min-height: 510px;
				}
			}
		}
	}
}
.page-banner-wrap .page-banner>.page-banner-image {top:0px!important;} 
.wp-block-lsx-blocks-lsx-banner-box {
	.lsx-banner-column {
		.lsx-banner-image-wrap {
			@media (max-width:600px) {
				background-image: url(/wp-content/themes/toyota-child/assets/images/Toyota_Challenge_Mobile.jpg) !important;
				min-height: 510px;
				background-position: center top;
				background-size: contain;
				background-repeat: no-repeat;
			}
			picture {
				img {
					@media (max-width:600px) {
						opacity: 0;
					}
				}
			}
		}
	}
}

.single-post {
	.container {
		.content {
			max-width: 900px;
			margin: 0 auto;
		}
	}
	#main {
		article {
			.wh-entry-title {
				.pull-right {
					@media (min-width: 768px) {
						display: flex;
						flex-direction: row;
						align-items: center;
					}
					@media (max-width: 767px) {
						float: inherit !important;
						margin-bottom: 4.25rem;
						display: block;
						.lsx-sharing-content {
							padding: 2.4rem 0;
						}
						.btn {
							width: 100%;
						}
					}

					.lsx-sharing-content {
						margin-right: 2.4rem;
					}
				}
				.btn.vote-btn {
					background-color: $orange;
					box-shadow: 2px 2px 0 0 $dark-orange;
					color: $dark-gray;
					font-size: 16px;
					font-weight: bold;
					font-family: $ubuntu; 
					color: white;
				}
			}
			.row.photos {
				padding-right: 15px;
    			padding-left: 15px;
			}
		}
	}
}

/*** FORMS GENERAL STYLES ***/

.tac {
	.gfield_label {
		display: none;
	}
}

#votingModal {
	#validation_message_2_2 {
		display: block;
	}
}

/*** FOOTER STYLES ***/

#footer-widgets {
	border-top: 55px solid $yellow-fb;
	border-radius: 0px;
	.widget_text {
		.widget-title {
			font-size: 18px;
			color: white;
		}
	}
	.textwidget {
		.footer-table {
			.fa {
				color: $yellow-icons;
			}
		}
	}
}
#colophon {
	.container {
		.credit {
			color: $white;
		}
	}
}

.home .lsx-block-post-grid .lsx-post-grid-items article:hover .lsx-block-post-grid-text h2 a {
	color:#fff!important;
}
.lsx-block-post-grid-excerpt {
	display:none;
}

@media screen and (max-width:600px) {
	.blog #primary .post-wrapper article .entry-image img, .search #primary .post-wrapper article .entry-image img {
		opacity: 0.7;
	}
	.home .lsx-block-post-grid .lsx-post-grid-items article .lsx-block-post-grid-image a img {
		opacity: 0.7;
	}
}