/**
 * Toyota M24Travel Styles
 *
 * @package 	toyota-child
 */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
html, body p {
  font-family: 'Oswald', sans-serif;
}

/*** Variables ***/
@font-face {
  font-family: 'Oswald', sans-serif;
  src: url("/assets/fonts/Oswald-Regualr.ttf") format("truetype"), url("/assets/fonts/Oswald-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url("/assets/fonts/Ubuntu-Regular.ttf") format("truetype"), url("/assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

/*** FONTS ***/
h1, .content-area h1, .content-area #main h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  font-family: "Oswald", sans-serif;
}

h2, .content-area h2, .content-area #main h2 {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  font-family: "Oswald", sans-serif;
}

@media (max-width: 767px) {
  h2, .content-area h2, .content-area #main h2 {
    font-size: 26px !important;
  }
}

h3, .content-area h3, .content-area #main h3 {
  font-size: 22px;
  text-transform: uppercase;
  color: #333333;
  font-family: "Oswald", sans-serif;
}

h4, .content-area h3, .content-area #main h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: #333333;
  font-family: "Oswald", sans-serif;
}

h5, .content-area h5, .content-area #main h5 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  font-family: "Oswald", sans-serif;
}

p {
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  font-family: "Ubuntu", sans-serif;
  line-height: 26px;
}

ul li {
  font-size: 16px;
  line-height: 36px;
  font-family: "Ubuntu", sans-serif;
}

/*** HEADER STYLES***/
@media (min-width: 1200px) {
  #masthead .primary-navbar #menu-primary-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

#masthead .primary-navbar #menu-primary-menu .menu-item {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
}

@media (max-width: 767px) {
  .lsx-cta-title {
    font-size: 26px !important;
  }
}

/*** BODY STYLES ***/
.archive-header-wrapper.col-sm-12 {
  display: none;
}

.wp-block-lsx-blocks-lsx-banner-box.lsx-block-banner .lsx-banner-content-wrap .header-headings {
  padding-bottom: 45px;
}

.wp-block-lsx-blocks-lsx-banner-box.lsx-block-banner .lsx-banner-content-wrap .header-headings .page-header h2.lsx-banner-name {
  line-height: 50px;
  margin-bottom: 20px;
}

/*** ENTRIES ***/
.blog .container .content, .search .container .content {
  max-width: 900px;
  margin: 0 auto;
}

.blog #primary, .search #primary {
  margin-bottom: 8.5rem;
  margin-top: 5rem;
}

.blog #primary .entrants-title, .search #primary .entrants-title {
  margin-bottom: 32px;
}

.blog #primary #searchform, .search #primary #searchform {
  margin-bottom: 4.25rem;
}

@media (max-width: 767px) {
  .blog #primary #searchform .input-group, .search #primary #searchform .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog #primary #searchform .input-group .input-group-btn, .search #primary #searchform .input-group .input-group-btn {
    width: 100%;
  }
  .blog #primary #searchform .input-group .input-group-btn .btn, .search #primary #searchform .input-group .input-group-btn .btn {
    width: 100%;
    margin-left: 0;
  }
}

.blog #primary #searchform .search-field, .search #primary #searchform .search-field {
  height: 50px;
  min-width: 280px;
}

.blog #primary #searchform .search-submit, .search #primary #searchform .search-submit {
  height: 48px;
  margin-left: 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.blog #primary #searchform .search-submit .fa-search:before, .search #primary #searchform .search-submit .fa-search:before {
  content: "SEARCHS";
  font-size: 16px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.blog #primary .post-wrapper, .search #primary .post-wrapper {
  margin-top: 0px;
}

.blog #primary .post-wrapper article, .search #primary .post-wrapper article {
  margin-top: 2.4rem;
}

.blog #primary .post-wrapper article .entry-image img, .search #primary .post-wrapper article .entry-image img {
  width: 100%;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog #primary .post-wrapper article:hover h2, .search #primary .post-wrapper article:hover h2 {
  border-bottom: 2px solid #edab21;
}

.gform_wrapper button {
  background-color: #f7941d;
  -webkit-box-shadow: 2px 2px 0 0 #eda700;
          box-shadow: 2px 2px 0 0 #eda700;
}

.blog .entrant .video, .blog .entrant .motivation, .blog .entrant .photos, .post-template-default .entrant .video, .post-template-default .entrant .motivation, .post-template-default .entrant .photos {
  margin-bottom: 4.25rem;
}

.blog .entrant .video h2, .blog .entrant .motivation h2, .blog .entrant .photos h2, .post-template-default .entrant .video h2, .post-template-default .entrant .motivation h2, .post-template-default .entrant .photos h2 {
  text-transform: initial;
  line-height: 25px;
  color: #4a4a4a !important;
}

.blog .entrant .video, .post-template-default .entrant .video {
  margin: 0 auto;
}

.blog .entrant .video iframe, .post-template-default .entrant .video iframe {
  width: 100%;
}

@media (max-width: 767px) {
  .blog .entrant .video iframe, .post-template-default .entrant .video iframe {
    height: 100%;
  }
}

.blog .entrant .motivation h4, .post-template-default .entrant .motivation h4 {
  padding: 0;
}

.blog .entrant .motivation .city, .post-template-default .entrant .motivation .city {
  font-weight: bold;
  margin-bottom: 5px;
}

.post-template-default.single .entries-cta.lsx-full-width-alt h3 {
  text-align: left;
}

.content-area .lsx-full-width-alt, .content-area .lsx-full-width {
  margin: 0 -12rem;
  padding: 8.5rem 12rem;
}

.content-area h1 {
  margin-bottom: 0.8rem;
}

.lsx-sharing-button .fa {
  color: #fff;
}

.home .entrants-title, .blog .entrants-title, .search .entrants-title {
  margin-bottom: 4.25rem;
}

.home .entrants-title h1, .blog .entrants-title h1, .search .entrants-title h1 {
  text-align: center !important;
}

.home .entry-image h2, .home .entry-image p, .blog .entry-image h2, .blog .entry-image p, .search .entry-image h2, .search .entry-image p {
  display: none;
}

.home .entry-image:hover img.wp-post-image, .blog .entry-image:hover img.wp-post-image, .search .entry-image:hover img.wp-post-image {
  opacity: 0.3;
}

.home .entry-image:hover h2, .home .entry-image:hover p, .blog .entry-image:hover h2, .blog .entry-image:hover p, .search .entry-image:hover h2, .search .entry-image:hover p {
  position: absolute;
  display: block;
  margin: 0 20px 0 10px;
}

.home .entry-image:hover h2, .blog .entry-image:hover h2, .search .entry-image:hover h2 {
  /*border-bottom: 2px solid $dark-green;*/
  color: #434343 !important;
  top: 50%;
  width: 93%;
}

.home .entry-image:hover p, .blog .entry-image:hover p, .search .entry-image:hover p {
  top: 60%;
}

.home .entry-image:hover p .moretag, .blog .entry-image:hover p .moretag, .search .entry-image:hover p .moretag {
  display: none;
}

.home .lsx-block-post-grid .is-grid article {
  background-color: #000;
}

.home .lsx-block-post-grid .lsx-post-grid-items article .lsx-block-post-grid-image a img {
  max-width: 100%;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .lsx-block-post-grid .lsx-post-grid-items article .lsx-block-post-grid-text {
  display: none;
}

.home .lsx-block-post-grid .lsx-post-grid-items article:hover .lsx-block-post-grid-image a img {
  opacity: 0.3;
}

.home .lsx-block-post-grid .lsx-post-grid-items article:hover .lsx-block-post-grid-text {
  display: initial;
  position: absolute;
  bottom: 40%;
}

.home .lsx-block-post-grid .lsx-post-grid-items article:hover .lsx-block-post-grid-text .lsx-block-post-grid-title {
  margin: 0 1em 0em 1em;
  border-bottom: 2px solid #edab21;
}

.home .lsx-block-post-grid .lsx-post-grid-items article:hover .lsx-block-post-grid-text .lsx-block-post-grid-title, .home .lsx-block-post-grid .lsx-post-grid-items article:hover .lsx-block-post-grid-text .lsx-block-post-grid-excerpt {
  text-align: left;
}

.home .lsx-block-post-grid .lsx-post-grid-items article:hover .lsx-block-post-grid-text .lsx-block-post-grid-title a, .home .lsx-block-post-grid .lsx-post-grid-items article:hover .lsx-block-post-grid-text .lsx-block-post-grid-excerpt a {
  color: #fff;
  font-weight: normal;
}

@media (max-width: 600px) {
  .home .lsx-block-post-grid .lsx-post-grid-items article .lsx-block-post-grid-text {
    display: initial;
    position: relative;
    bottom: 230px;
  }
  .home .lsx-block-post-grid .lsx-post-grid-items article .lsx-block-post-grid-text .lsx-block-post-grid-title {
    margin: 0 1em 0em 1em;
    border-bottom: 2px solid #edab21;
  }
  .home .lsx-block-post-grid .lsx-post-grid-items article .lsx-block-post-grid-text .lsx-block-post-grid-title, .home .lsx-block-post-grid .lsx-post-grid-items article .lsx-block-post-grid-text .lsx-block-post-grid-excerpt {
    text-align: left;
  }
  .home .lsx-block-post-grid .lsx-post-grid-items article .lsx-block-post-grid-text .lsx-block-post-grid-title a, .home .lsx-block-post-grid .lsx-post-grid-items article .lsx-block-post-grid-text .lsx-block-post-grid-excerpt a {
    color: #ffffff;
    font-weight: normal;
  }
}

.home .lsx-block-card .lsx-card-image-wrap img {
  min-height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  background: white;
}

.blog .entry-image:hover h2, .blog .entry-image:hover p, .search .entry-image:hover h2, .search .entry-image:hover p {
  position: relative;
  bottom: 250px;
}

@media (max-width: 600px) {
  .blog .entry-image h2, .blog .entry-image p, .search .entry-image h2, .search .entry-image p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    bottom: 250px;
    color: white !important;
  }
  .blog .entry-image h2, .search .entry-image h2 {
    margin: 0 1em 0em 1em;
    border-bottom: 2px solid #edab21;
  }
  .blog .entry-image p, .search .entry-image p {
    margin: 0 1.6em 0em 1.6em;
  }
}

.search h1.entry-title {
  display: none;
}

/*** SINGLE POSTS ***/
.single.single-post .page-banner-wrap .page-banner {
  background-image: url(/wp-content/uploads/2020/07/Toyota_Challenge_1920x660.jpg);
  background-size: cover;
  background-position: bottom !important;
  min-height: 654px;
}

@media (max-width: 600px) {
  .single.single-post .page-banner-wrap .page-banner {
    min-height: 500px;
  }
}

@media (max-width: 600px) {
  .single.single-post .page-banner-wrap .page-banner {
    background-image: url(../images/Toyota_Challenge_Mobile.jpg) !important;
    min-height: 450px;
  }
}

.single.single-post .page-banner-wrap .page-banner > .page-banner-image {
  background-image: url(../images/desktop_banner.jpg) !important;
}

.single.single-post .page-banner-wrap .page-banner > .page-banner-image:after {
  background-color: transparent !important;
}

@media (max-width: 600px) {
  .single.single-post .page-banner-wrap .page-banner > .page-banner-image {
    background-image: url(../images/Toyota_Challenge_Mobile.jpg) !important;
    min-height: 450px;
  }
}

@media (min-width: 1200px) {
  .blog .page-banner-wrap .page-banner {
    min-height: 495px !important;
  }
}

@media (max-width: 600px) {
  .blog .page-banner-wrap .page-banner {
    min-height: 500px !important;
  }
}

.blog .page-banner-wrap .page-banner > .page-banner-image {
  bottom: 0;
  background-position: top !important;
  min-height: 654px;
}

@media (min-width: 1200px) {
  .blog .page-banner-wrap .page-banner > .page-banner-image {
    background-size: 100vw;
  }
}

@media (max-width: 600px) {
  .blog .page-banner-wrap .page-banner > .page-banner-image {
    background-image: url(../images/Toyota_Challenge_Mobile.jpg) !important;
    min-height: 510px;
  }
}

.page-banner-wrap .page-banner > .page-banner-image {
  top: 0px !important;
}

@media (max-width: 600px) {
  .wp-block-lsx-blocks-lsx-banner-box .lsx-banner-column .lsx-banner-image-wrap {
    background-image: url(/wp-content/themes/toyota-child/assets/images/Toyota_Challenge_Mobile.jpg) !important;
    min-height: 510px;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: 600px) {
  .wp-block-lsx-blocks-lsx-banner-box .lsx-banner-column .lsx-banner-image-wrap picture img {
    opacity: 0;
  }
}

.single-post .container .content {
  max-width: 900px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .single-post #main article .wh-entry-title .pull-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .single-post #main article .wh-entry-title .pull-right {
    float: inherit !important;
    margin-bottom: 4.25rem;
    display: block;
  }
  .single-post #main article .wh-entry-title .pull-right .lsx-sharing-content {
    padding: 2.4rem 0;
  }
  .single-post #main article .wh-entry-title .pull-right .btn {
    width: 100%;
  }
}

.single-post #main article .wh-entry-title .pull-right .lsx-sharing-content {
  margin-right: 2.4rem;
}

.single-post #main article .wh-entry-title .btn.vote-btn {
  background-color: #f7941d;
  -webkit-box-shadow: 2px 2px 0 0 #eda700;
          box-shadow: 2px 2px 0 0 #eda700;
  color: #434343;
  font-size: 16px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.single-post #main article .row.photos {
  padding-right: 15px;
  padding-left: 15px;
}

/*** FORMS GENERAL STYLES ***/
.tac .gfield_label {
  display: none;
}

#votingModal #validation_message_2_2 {
  display: block;
}

/*** FOOTER STYLES ***/
#footer-widgets {
  border-top: 55px solid #fbd44a;
  border-radius: 0px;
}

#footer-widgets .widget_text .widget-title {
  font-size: 18px;
  color: white;
}

#footer-widgets .textwidget .footer-table .fa {
  color: #ffdf00;
}

#colophon .container .credit {
  color: #ffffff;
}

.home .lsx-block-post-grid .lsx-post-grid-items article:hover .lsx-block-post-grid-text h2 a {
  color: #fff !important;
}

.lsx-block-post-grid-excerpt {
  display: none;
}

@media screen and (max-width: 600px) {
  .blog #primary .post-wrapper article .entry-image img, .search #primary .post-wrapper article .entry-image img {
    opacity: 0.7;
  }
  .home .lsx-block-post-grid .lsx-post-grid-items article .lsx-block-post-grid-image a img {
    opacity: 0.7;
  }
}
/*# sourceMappingURL=custom.css.map */